<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body>

{{!-- --------------------------------------------header---------------------------------------     --}}
{{!-- --------------------------------------------header---------------------------------------     --}}
{{!-- --------------------------------------------header---------------------------------------     --}}
    <header>
        <div class="logoCompleta">
            <img src="/img/LogoFoto.png" alt="">
            <h1><span class="aqua">Aqua</span><span class="power">Power</span></h1>
        </div>
        
        <div class="navBar">
            <div class="cabecalho">
                <a href="" id="">Home</a>
                <a href="" id="">Consumos</a>
                <a href="" id="">Equipamentos</a>
            </div>
            <div class="imagemPerfil">
                <a href="/usuarios">
                    <img src="https://thumbs.dreamstime.com/b/%C3%ADcone-do-perfil-avatar-defeito-105356015.jpg" alt="">
                </a>
            </div>
        </div>
    </header>

    {{#if mensagemCrud}}

        <div id="mensagem">{{mensagemCrud}}</div>

    {{/if}}

{{!-- ----------------------------------------Bem vindo--------------------------------------- --}}
{{!-- ----------------------------------------Bem vindo--------------------------------------- --}}
{{!-- ----------------------------------------Bem vindo--------------------------------------- --}}
    <div class="bemVindo">
        <h1>Bem-vindo ao <span class="aqua">Aqua</span><span class="power">Power</span></h1>
        <p>Acompanhe seu consumo de água e energia de forma simples e eficiente.</p>
    </div>




{{!-- ----------------------------------------Eficiencia-------------------------------------- --}}
{{!-- ----------------------------------------Eficiencia-------------------------------------- --}}
{{!-- ----------------------------------------Eficiencia-------------------------------------- --}}
    <table>
        <tr>
            <td style="padding-left:0px">

                <h3>🌱 Eficiência</h3>

                <p>{{eficiencia}}</p>

                <small>{{mensagem}}</small>

            </td>
        </tr>
    </table>

    <br>
{{!-- -------------------------------------Novo Consumo--------------------------------------- --}}
{{!-- -------------------------------------Novo Consumo--------------------------------------- --}}
{{!-- -------------------------------------Novo Consumo--------------------------------------- --}}
    <a href="/consumos/cadastrar">
        <button>Novo Consumo</button>
    </a>

    <hr>

{{!-- ----------------------------------------Tabela-------------------------------------------- --}}
{{!-- ----------------------------------------Tabela-------------------------------------------- --}}
{{!-- ----------------------------------------Tabela-------------------------------------------- --}}
<div class="container">
    <div class="card">
        <h2>Histórico de Consumo</h2>
    
        <table border="1">
            <tr>
                <th>Tipo</th>
                <th>Mês</th>
                <th>Ano</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
    
            {{#each consumos}}
            <tr>
            
                <td>{{this.tipo}}</td>
                <td>{{this.mes}}</td>
                <td>{{this.ano}}</td>
                <td>{{this.valor}}</td>
    
                <td>
                    <a href="/consumos/editar/{{this.id}}">
                        <button>Editar</button>
                    </a>
    
                    <form action="/consumos/delete/{{this.id}}" method="POST" style="display:inline">
                        <button>Excluir</button>
                    </form>
                </td>
    
            </tr>
    
            {{/each}}
    
        </table>
    
        <hr>
    </div>
{{!-- -------------------------------------------Grafico------------------------------------------ --}}
{{!-- -------------------------------------------Grafico------------------------------------------ --}}
{{!-- -------------------------------------------Grafico------------------------------------------ --}}
    <div class="card">
        <h2>Gráfico de Consumo</h2>

        <label>Filtrar por ano:</label>

        <select id="filtroAno">

            <option value="Todos">Todos</option>
            {{#each anos}}

                <option value="{{this}}">{{this}}</option>

            {{/each}}

        </select>

<br><br>

        <canvas id="grafico"></canvas>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            setTimeout(() => {

                const mensagem = document.getElementById("mensagem");

                if(mensagem){

                    mensagem.style.display = "none";

                }

            },3000);
            const consumos = {{{ dadosGrafico }}};

            // Meses do gráfico
            const meses = [
                "Janeiro",
                "Fevereiro",
                "Março",
                "Abril",
                "Maio",
                "Junho",
                "Julho",
                "Agosto",
                "Setembro",
                "Outubro",
                "Novembro",
                "Dezembro"
            ];

            const cores = {
                "Água":"#3B82F6",
                "Energia":"#FACC15"
            };
            function desenharGrafico(anoSelecionado){

                const datasets = {};

                consumos.forEach(c=>{

                    if (anoSelecionado !== "Todos" && String(c.ano) !== anoSelecionado) {
                        return;
                    }

                    const chave = `${c.tipo}-${c.ano}`;

                    if(!datasets[chave]){
                        datasets[chave]=new Array(12).fill(0);
                    }

                    const indice = meses.indexOf(c.mes);
                    if(indice !== -1){
                        datasets[chave][indice] += c.valor;
                    }

                });

                const listaDatasets=[];
                let contador=0;

                for(const chave in datasets){
                    const partes=chave.split("-");
                    const tipo=partes[0];
                    const ano=partes[1];

                    listaDatasets.push({
                        label: tipo === "Água"
                            ? ` Água ${ano}`
                            : ` Energia ${ano}`,
                        data:datasets[chave],
                        borderColor:cores[tipo],
                        backgroundColor:cores[tipo],
                        borderDash:contador%2==0 ? [] : [8,5],
                        borderWidth:3,
                        tension:.3
                    });
                    contador++;
                }

                if(window.meuGrafico){
                    window.meuGrafico.destroy();
                }

                window.meuGrafico=new Chart(
                document.getElementById("grafico"),

                    {
                        type:"line",
                        data:{
                            labels:meses,
                            datasets:listaDatasets
                        }
                    }
                );
            }
            desenharGrafico("Todos");
            document.getElementById("filtroAno").addEventListener("change",function(){
                desenharGrafico(this.value);
            });
        </script>
    </div>
</div>
{{!-- ------------------------------------------Equipamentos--------------------------------- --}}
</body>

</html>